:root {
    --main-color: #fff;
    --main-dark: #1b1a1b;
    --main-purple: #440F51;
    --main-purple-light: #CD06FF;
    --main-menu-bg: #6C0287;
    --main-btn-color: rgb(205, 6, 255);
    --main-form-bg:rgb(68, 15, 81);
}