.banner {
    height: 823px;
    position: relative;
}
.banner:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    display: block;
    width: 657px;
    height: 762px;
    background-repeat: no-repeat;
    background-image: url(../../image/banner.png);
}
.banner__subtitle {
    font-size: 28px;
    padding-left: 100px;

}

.banner-group--item {
    font-size: 100px;
    font-weight: 900;
    line-height: 141px;
}
